aiofiles
aiohttp
async-lru
async-timeout
attrs
certifi
chardet
cssselect2
gitdb
GitPython
humanize
idna
lxml
multidict
Pillow
prettytable
psutil
pyaes
Pyrogram
PySocks
python-magic
reportlab
requests
smmap
svglib
TgCrypto
thisapidoesnotexist
tinycss2
typing-extensions
urllib3
wcwidth
webencodings
yarl
